# --- Maven Artifacts ---
target/
*.jar
*.war
*.ear

# --- IDEs and Editors ---
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch

# VS Code
.vscode/

# --- Operating System Files ---
.DS_Store
Thumbs.db

# --- Environment & Configuration ---
# Arquivos de propriedades locais (se aplicar no futuro)
*.properties.local
*.yaml.local